<div class="main-container">
  <div class="user-container">
    <div class="user-info-text">Müstahsilin Bilgileri</div>
    <app-input-box [name]="'TCKN *'"></app-input-box>
    <app-input-box [name]="'Adı *'"></app-input-box>
    <app-input-box [name]="'Soyadı *'"></app-input-box>
    <app-dropdown [name]="'Şehir '"></app-dropdown>
    <app-input-box [name]="'Web Sitesi'"></app-input-box>
  </div>
  <div class="user-container">
    <div class="user-info-text">Müstahsil Bilgileri</div>
    <app-input-text
      [name]="'ETTN'"
      [content]="'5184117c-8626-493c-b848-24c76a7ac5da'"
    ></app-input-text>
    <app-input-text
      [name]="'Belge Numarası'"
      [content]="'-----'"
    ></app-input-text>
    <app-icon-box [name]="'Düzenlenme Tarihi'" [content]="'09/09/2022'"></app-icon-box>
    <app-icon-box [name]="'Düzenlenme Saati'" [content]="'09:55:40'"></app-icon-box>
  </div>
</div>
